<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiFi Setup</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="wifi-settings-tab" style="display:block;">
        <h2>WiFi Setup</h2>

        <img id="logo" src="logo.png" alt="Logo">

        <div id="network-list">
            <label for="available-networks">Available Networks:</label>
            <select id="available-networks" onchange="updateSSIDField()"></select>
        </div>
        <div>
            <input type="text" id="ssid" placeholder="Select SSID from list or enter manually">
            <input type="password" id="password" placeholder="Enter password manually">
        </div>
        <button onclick="updateWiFiSettings()">Update WiFi Settings</button>
    </div>
    <script src="common.js"></script>
</body>

</html>